
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyPage</title>
</head>
<body>
    <div> 
        Welcome to my  mvc page
    </div>
</body>
</html>
