@model Computer_Communications_Project.ViewModel.HallAndMovie
@using Computer_Communications_Project.ViewModel
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link href="~/Content/Seats.css" rel="stylesheet" />
    <script src="~/Scripts/OrderScript.js"></script>
    <link href="~/Content/PaymentStyle.css" rel="stylesheet" />
    <title>Movie Seat Booking</title>
</head>
<body>
    @using (Html.BeginForm("payment", "Order", FormMethod.Post))
    {
    <div>
        <div>
            <p>Movie Name: @Model.Movie.MovieName</p>
            <p>Movie Date: @Model.Movie.Date</p>
            <p>Hall Name: @Model.Movie.HallName</p>
        </div>
        <table class="center">
            @for (int i = 1; i <= Model.Hall.RowNumber; i++)
            {
                <tr>
                    @for (int j = 1; j <= Model.Hall.ColNumber; j++)
                    {
                        if (Model.Orders.Any(m => m.LineSeat == i && m.RowSeat == j))
                        {
                            <td>
                                <div style="background-color:red">
                                    &#x1f4ba;
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div onclick="seatCol(this, @Model.Movie.Price, @i, @j)" class="selectedSeats">
                                    &#x1f4ba;
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
        </table>
        <p>total seats = <span id="myTotal">0</span></p>
        <p>Total price = <span id="totalPrice">0</span></p>
        <input id="payment" type="Submit" value="Continue to checkout" class="btn" />
        <input type="text" name="line" value="" id="line" hidden required />
        <input type="text" name="chair" value="" id="chair" hidden required />


    </div>
    }

</body>
</html>

