
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
</head>
<body>
    <div>
        <h1>Movie Title</h1>
        <h2>Movie type: Action</h2>
        <ul>
            <li>Age limite: 18+</li>
            <li>Movie length: 1h 20min</li>
            <li>published year: 2020</li>
        </ul>
        
        <p>Movie describe: some text about the movies over here ...... !^&*&*^*^#!</p>
        <a href="">trailer link </a><br /><br />
        <button>back</button>
        <button>forward</button>


    </div>
    </body>
</html>
